*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color:#0f1111;
    color: white;/*text color*/
    display: flex;/* content flow*/
    align-items: center;/*set vertically center*/
    justify-content: space-evenly;/*content divide in equal space*/
}
.nav-logo{
    width: 100px; 
    height: 50px;
}
.logo{
    width: 100%;
    height:100%;
    background-image:url("Images/amazonlogo.png");
    background-size:cover;
}
.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 1px solid white;
    border-radius: 2.5px;
}
/**box2**/
.address-first{
    font-size: 0.85rem;
    color: #cccccc;
    margin-left: 15px;
}
.address-second{
    font-size: 1rem;
    margin-left: 2.5px;
}
.add-icon{
    display: flex;
    align-items: center;
}
/**box3**/
.nav-search{
    width: 620px;
    height: 40px;
    background-color: pink;
    border-radius: 3px;
    display: flex;
    justify-content: space-evenly;
}
.search-select{
    width: 50px;
    background-color: #f3f3f3;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    text-align: center;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    background-color: #0f1111;
    border: none;
}
.search-icon{
    width: 45px;
    background-color: rgb(245, 168, 3);
    color: #0f1111;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.nav-search:hover{
    border: 2px solid orange;
}
/**box4**/
span{
    font-size: 0.75rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
/**box6**/
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

/**panel**/
.pannel{
    height: 40px;
    background-color: #222f3e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.pannel-option{
    width: 70%;
    font-size: 0.85rem;
    margin-left: 10px;
}
.pannel-option p{
    margin-left: 15px;
    display: inline;
}
.pannel-deal{
    font-size: 0.85rem;
    font-weight: 700;
}

/**hero section**/
.hero-section{
    height: 350px;
    background-image: url("amazon_mg/amazon_hero.jpg");
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}
.hero-message{
    width: 90%;
    height: 35px;
    margin-bottom: 20px;    
    background-color: white;
    font-size: 0.85rem;    
    color: black;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-message a{
    font-size: 0.85rem;
    color: #007185;
    text-decoration: none;
}

/**shop section**/
.shop-section{
    width: 100%;
    margin-top: 1rem;
    background-color: rgb(243, 222, 195);
    display: flex;
    flex-wrap: wrap;
}
.box{
    width: 23%;
    height: 400px;
    margin-top:  15px;
    padding: 20px 0 15px;
}
.box1-img{
    height: 350px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
}
.box-content{
    background-color: rgb(231, 213, 168);
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    justify-content: space-evenly;
}
.box-content p{
    color: #007185;
}
/**footer**/
footer{
    margin-top: 10px;
}
.foot-pannel1{
    width: 100%;
    height: 35px;
    background-color: #37475a;
    font-size: 0.85rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-pannel2{
    width: 100%;
    height: 350px;
    margin-top: 5px;
    background-color: #222f3d;
    color: white;
    text-align: left;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin: 15px;
}
.foot-pannel2 a{
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
    display: block;
}
.foot-pannel3{
    width: 100%;
    height: 70px;
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot-logo-pannel{
    width: 100px;
    height: 50px;
    background-image: url("amazon_mg/amazon_black.png");
    background-size: cover;
}
.foot-pannel4{
    height: 75px;
    background-color:#0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.pages{
    font-size: 0.7rem;
    text-align: center;
    margin-top:5px;
}
.copyrights{
    font-size: 0.7rem;
    color: white;
    text-align: center;
    margin-top: 5px;
}